<!DOCTYPE html>
<html>
  <head>
    <title> Dev Careers</title>
    <style>
      h1{
        font: size; 50px;
        font-family: Roboto;
        font-weight:normal;
        color: rgb(100,110,120);
        text-align:center;
      }
      #banner{
        width: 100%;
        height:  520px;
        object-fit:cover;
            }
      #container{
        width:720;
        margin:0 auto;
      }
      .bodytext {
        font-family:Roboto;
        color: rgb(80,80,80)
      }
    </style>
  </head>
  <body>
    <div id='container'>
    <img id ='banner' src="static/banner.jpg" height="420">
    <h1>
      About 
    </h1>
    <p class='bodytext'>
      I am Devvrat tiwari IOT product developer From Lucknow. I am currently pursuing B.Tech computer science in MUIT. I done my schooling in Narayana public School.
      I currently worked in many projects in the field of Agriculture and IOT's.
      I am good at poem writing in tamil and also interested in develop products and projects.
      I am team Leader in Many competitions and expo's.
      I am the co-author of oppanaiilla vithagan book.
      My hobbies are cad designing, dancing and reading books.
      Once again thank you for this opportunity to introduce myself.
    </p>
    <div style='text-align:center'>
      <button>Contract US</button>
     </div> 
   
  </div>
  </body>
</html>
